button {
  letter-spacing: 0.5px;
  font-size: 18px;
  width: 8rem;
  transition: all 250ms;
  border: 1px solid white;
}

.clear-btn {
  background-color: rgba(255, 255, 255, 0.7);
}

.clear-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.start-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-pink-500);
}

.start-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.stop-btn {
  background-color: var(--color-pink-500);
  color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
}

.stop-btn {
  color: rgba(255, 255, 255, 1);
}

button:disabled {
  color: rgba(42, 42, 42, 0.4);
  background-color: rgba(75, 75, 75, 0.3);
  pointer-events: none;
  box-shadow: none;
  border-color: transparent;
}

@media only screen and (max-width: 280px) {
  button {
    font-size: 14px;
    width: 5rem;
  }
}
