button {
  letter-spacing: 0.5px;
  font-size: 18px;
  width: 8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.clear-btn {
  background-color: #fff;
  color: var(--color-pink-500);
}

.start-btn {
  color: #fff;
  background-color: var(--color-pink-500);
}

button:disabled {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  box-shadow: none;
}

button:active {
  box-shadow: none;
}
