.countdown input {
  width: 10rem;
  height: 7rem;
  transition: all 250ms;
  font-size: 6rem;
}

.countdown span {
  font-size: 6rem;
  pointer-events: none;
  margin-bottom: 16px;
  transition: all 250ms;
}

@media only screen and (max-width: 600px) {
  .countdown input {
    width: 6rem;
    font-size: 4rem;
  }
  .countdown span {
    font-size: 4rem;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 280px) {
  .countdown input {
    width: 4rem;
    font-size: 3rem;
  }
  .countdown span {
    font-size: 3rem;
  }
}
