.countdown input {
  width: 10rem;
  transition: all 250ms;
}

.countdown span {
  padding-bottom: 20px;
  pointer-events: none;
  transition: all 250ms;
}

@media only screen and (max-width: 600px) {
  .countdown input {
    width: 6rem;
    font-size: 5rem;
  }
  .countdown span {
    padding-bottom: 12px;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 280px) {
  .countdown input {
    width: 4rem;
    font-size: 3rem;
  }
  .countdown span {
    padding-bottom: 6px;
    font-size: 3rem;
  }
}
