.countdown-wrapper {
  background: rgba(255, 219, 238, 0.25);
  box-shadow: 0 1px 6px #ffdbee;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-inline: 2rem;
  min-height: 20rem;
  width: 100%;
  max-width: 600px;
  transition: all 250ms;
}

.countdown-wrapper h1{
  border-bottom: 1px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .countdown-wrapper {
    height: 100vh;
    max-width: 100%;
    border-radius: 0;
    margin-inline: 0;
  }
}

@media only screen and (max-width: 280px) {
  .countdown-wrapper h1 {
    font-size: 1.2rem;
  }
}
