@import "Reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-gradiant: linear-gradient(
    to right bottom,
    #b60060,
    #ca3b7e,
    #dc5e9c,
    #ee7eba,
    #ff9dd8
  );

  --color-pink-500: #b60060;
  --color-pink-400: #ca3b7e;
  --color-pink-300: #dc5e9c;
  --color-pink-200: #ee7eba;
  --color-pink-100: #ff9dd8;
}

::-moz-selection { /* Code for Firefox */
  background: var(--color-pink-100);
}

::selection {
  background: var(--color-pink-100);
}
